<!DOCTYPE html>
<html>
<body>
    <h1>회원가입</h1>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="아이디" required><br>
        <input type="password" name="password" placeholder="비밀번호" required><br>
        <button type="submit">가입하기</button>
    </form>
    <a href="/login">로그인으로 돌아가기</a>
</body>
</html>
